h1 {
    font-size: 2rem;
    font-weight: 700;
}

.card-header {
    background-color: rgba(240, 95, 64, 0.9);
}

.section-header {
    display: inline;
}

#wrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 4%;
    padding-bottom: 10px;
    background-color: rgba(245, 245, 245);
}

.card-img-top {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
}